<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
       <% if user_signed_in? %>
      <li class="nav-item active">
        <span>Bienvenido:   <%= current_user.email  %>,  rol:  <%=current_user.role  %>   </span>
        <div class="mr-auto">
          <%= link_to "Salir", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
        </div>
      </li>
      <%end  %>
    </ul>
  </div>
</nav>
